<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting id="iotforgid" type="text" label="35001" default=""/>
		<setting id="iotftypeid" type="text" label="35002" default="kodi"/>
		<setting id="iotfdeviceid" type="text" label="35003" default=""/>
		<setting id="iotfauthtoken" type="text" label="35004" default="" option="hidden"/>
	</category>
</settings>
